.Rounded {
 	position:relative;
 	margin:0px auto;
 	min-width: 10px;
	max-width:990px; 
 	z-index:1;
 	margin-left:5px; 
 	margin-top: 3px;
}

.Rounded .RoundedContent,
.Rounded .RoundedTop,
.Rounded .RoundedBottom,
.Rounded .RoundedBottom div {
 	background:transparent no-repeat top right;
}

.Rounded .RoundedContent {
 	position:relative;
 	zoom:1;
 	_overflow-y:hidden;
 	padding:5px 10px 2px 5px;
}

.Rounded .RoundedTop {
	position:absolute;
 	left:0px;
 	top:0px;
 	width:5px;
 	margin-left:-5px;
 	height:100%;
 	_height:990px; 
 	background-position:top left;
}

.Rounded .RoundedBottom,
.Rounded .RoundedBottom div {
 	height:7px; 
 	font-size:1px;
}

.Rounded .RoundedBottom {
 	background-position:bottom right;
 	position:relative;
 	width:100%;
 	clear: both;
 	margin-left: 0px;
 	margin-right: 0px;
 	padding: 0;
	display: table;
}

.Rounded .RoundedBottom div {
 	position:relative;
 	width:5px;
 	margin-left:-5px;
 	background-position:bottom left;
}