<div>
    <h2>Answers</h2>
    <div dojoType="dojoc.sandbox.rounded.Rounded" class="question" bgImg="/dojotoolkit/dojoc/sandbox/rounded/resources/RoundedBg.png">
        <div dojoAttachPoint="loadingNode"><img src="/dojotoolkit/dojo/resources/blank.gif" class="dojoxBusyButtonIcon" /> Loading Answers...</div>
        <div dojoAttachPoint="questionNode"></div>
    </div>
    <p>Great job! Here's how everyone answered, which one is the best?</p>
    <div dojoAttachPoint="answerChoiceNode" class="answerChoices"></div>
    <div dojoType="dojox.form.BusyButton" dojoAttachPoint="submitButton" dojoAttachEvent="onClick:onSubmit" label="Vote" busyLabel="Voting..."></div>
</div>
